#####################
# PROTON requirements
#####################
apispec==1.0.0b4
astroid
certifi
chardet
colorama
falcon
falcon-apispec
falcon-auth
falcon-cors
gevent
greenlet
gunicorn
idna
isort
Jinja2
jinjasql
lazy-object-proxy
MarkupSafe
mccabe
numpy
pandas
pep8
psycopg2
pygogo
PyJWT
pylint
pyodbc
python-dateutil
python-mimeparse
pytz
PyYAML
redis
requests
six
SQLAlchemy
SQLAlchemy-Utils
urllib3
wrapt
falcon-prometheus
#########################
# END PROTON requirements
#########################