#####################
# PROTON requirements
#####################
sqlalchemy
sqlalchemy-utils
pyodbc
psycopg2
pygogo
Jinja2
jinjasql
numpy
pandas
falcon
falcon_cors
falcon-apispec
falcon-auth
redis
gunicorn
colorama
apispec
requests
#########################
# END PROTON requirements
#########################